<div class="col-xl-6 offset-xl-3 col-md-8 offset-md-2" style="height:100vh; display: flex; align-items: center;">
    <div class="alert alert-info" style="width:100%; height: 60%;">
        <form [formGroup]="form" (submit)="$event.preventDefault()" class=" card " style="width:100%; height: 100%;">
            <h4 class="card-header text-center">PLATAFORMA EDUCATIVA - ITGREEN</h4>
            <div class="card-body ">
                <h4 class="card-title text-center">TE AYUDAMOS A RECUPERAR TU CONTRASEÑA</h4>
                <div class="form-group">
                    <label for="Email_User">Email:</label>
                    <input type="email " formControlName="Email_User" class="form-control"[ngClass]="{
                        'is-invalid':
                          form.controls['Email_User'].invalid &&
                          form.controls['Email_User'].touched,
                        'is-valid': form.controls['Email_User'].valid
                      }"/>
                    <div *ngIf="form.get('Email_User')?.errors?.required" class="invalid-feedback" >Email requerido!</div>
                    <div *ngIf="form.get('Email_User')?.errors?.pattern" class="invalid-feedback" >Por favor ingresa un email v&aacute;lido</div>
                </div>
                <div class="row justify-content-center">
                    <re-captcha (resolved)="resolved($event)" size="normal" formControlName="recaptcha" siteKey="6LfdUNUZAAAAABq1BiBttCE3Le6D9iT1-zGLyv5_"></re-captcha>
                </div>
            </div>
            <!-- <h5 class="card-title text-center">Revisa tu correo y sigue las instrucciones que te enviaremos</h5> -->

            <div class="form-group modal-footer ">
                <button type="button" class="btn btn-success btn-lg" [disabled]="form.invalid" (click)="onReset()">Enviar</button>
                <button type="button" class="btn btn-danger btn-lg" (click)="goBack()">Cancelar</button>
            </div>
        </form>
    </div>
</div>
