<br />
<div class="card">
  <div class="card-header text-right">
    <a routerLink="nuevo" class="btn btn-success">
      <i class="fas fa-plus"></i> &nbsp; Nuevo Usuario
    </a>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-12">
        <form>
          <div class="input-group mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Buscar"
              aria-label="Buscar"
              aria-describedby="button-addon2"
              name="filterUser"
              [(ngModel)]="filterUser"
            />
            <div class="input-group-append">
              <button
                class="btn btn-outline-secondary"
                type="button"
                id="button-addon2"
              >
                Buscar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="thead" style="text-align: center;">
              <tr>
                <th>#</th>
                <th>Nombres</th>
                <th>Perfil</th>
                <th>Email</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users | filter: filterUser | paginate: { itemsPerPage: 10, currentPage: p }" [ngSwitch]="user.role">
                <td>{{ user.id }}</td>
                <td>{{ user.name }} {{ user.lastname }}</td>
                <td *ngSwitchCase="0">Adm. General</td>
                <td *ngSwitchCase="1">Administrador</td>
                <td *ngSwitchCase="2">Coordinador</td>
                <td *ngSwitchCase="3">Docente</td>
                <td *ngSwitchCase="4">Alumno</td>
                <td *ngSwitchDefault>Undefined</td>
                <td>{{ user.email }}</td>
                <td style="width: 10px;">
                  <div
                    class="btn-group"
                    role="group"
                    aria-label="Basic example"
                  >
                    <a
                      [routerLink]="[user.id]"
                      class="btn btn-secondary"
                    >
                      <i class="far fa-eye"></i>
                    </a>
                    <a
                      [routerLink]="['edit/'+user.id]"
                      class="btn btn-info"
                    >
                      <i class="far fa-edit"></i>
                    </a>
                    <button class="btn btn-danger" (click)="deleteUser(user.id)">
                      <i class="far fa-trash-alt"></i>
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer text-center">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
